/* Twittler Styles */

#menu {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 200px;
  height: 100%;
  border-right: 1px solid #EBEBEB;
  text-align: center;
}

#home {
  color: blue;
  text-decoration: underline;
}

#content {
  width: 450px;
  margin: 100px 0px 0px 250px;
}

.tweet {
  padding: 30px;
  border: 1px solid black;
  margin-bottom: 10px;
  position: relative;
}

.tweet .user {
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.tweet .user:hover {
  text-decoration: underline;
}

.tweet .timestamp {
  margin: 0px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  color: #8899a6;
  font-weight: normal;
}

.tweet p {
  margin: 0px 0px 10px 0px;
}
