/* Twittler Styles */

#menu {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 200px;
  height: 100%;
  border-right: 1px solid #EBEBEB;
  text-align: center;
}

#content {
  width: 500px;
  margin: 100px 0px 0px 400px;
}

.tweet {
  padding: 30px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.tweet .user {
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

span.timestamp {
  font-size: 10px;
  color: #8899a6;
  font-weight: normal;
}

.tweet .message {
  margin: 0px;
}
