/* Twittler Styles */

body {
  font-family: "Helvetica-Neue", helvetica, sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

#menu {
  position: fixed;
  left: 100px;
  top: 50px;
  width: 100px;
  height: 100%;
  border-right: 1px solid #EBEBEB;
}

#menu p {
  margin: 0px 0px 20px 0px;
}

#logo {
  margin: 0px 0px 40px 0px;
}

#home {
  color: blue;
  text-decoration: underline;
}

#content {
  width: 450px;
  margin: 50px 0px 0px 250px;
}

.tweet {
  padding: 30px;
  border: 1px solid black;
  margin-bottom: 10px;
  position: relative;
}

.tweet .user {
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.tweet .user:hover {
  text-decoration: underline;
  color: blue;
}

.tweet .timestamp {
  margin: 0px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  color: #8899a6;
  font-weight: normal;
}

.tweet p {
  margin: 0px 0px 10px 0px;
}
